# dropping ide datas
.idea

# dropping vendor and other data directories
vendor/

# dropping local built binaries
terraform-provider-rancherk3d*

# dropping terraform plans and states
terraform.tfstate*
*.tfplan
.terraform