# dropping ide datas
.idea
.DS_Store

# dropping vendor and other data directories
vendor/

# dropping local built binaries
terraform-provider-k3d*
terraform-provider-rancherk3d*

# dropping terraform plans and states
terraform.tfstate*
*.tfplan
.terraform
*.log

# dropping locally generated static doc pages
docs/Gemfile.lock
_site/
.jekyll-metadata

# dropping the templates
templates-latest/

# dropping local release folder
dist/